@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300;400&display=swap');

body {
  background-color: lightsalmon
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.rock {
  font-family: 'Rock Salt';
}

.rosario {
  font-family: 'Rosario';
}

.roboto {
  font-family: 'Roboto';
}

body {
  margin: 0;
}

main {
  max-width: 930px;
  padding: 0 30px 0;
  margin: auto;
}

.card2 {
  width: 200px;
  /* padding: 10px; */
  margin-left: 20px;
  border: 1px solid #dedede;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
  text-align: center;
  background-color: white;
  margin-bottom: 20px;
}

.card2 img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card2 p {
  margin: 0;
}

.card2 h2.price {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #6ebaba
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex div.card {
  width: 300px;
}

.flex div.card div {
  padding: 25px;
}

.cont-description {
  margin-left: 60px;
  width: 450px;
}

.cont-description p {
  line-height: 1.6;
}

.details {
  padding: 10px;
  padding-bottom: 20px;
}

.cont-description {
  margin-left: 25px;
}

button {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(125, 206, 206);
  border: none;
  margin-top: 20px;
  /* La propiedad "cursor" hace que al pasar el mouse sobre el botón se vea la manito */
  cursor: pointer;
}

button:focus {
  /* Esto quita el borde negro cuando se selecciona el botón */
  outline: none;
}

label, input {
  display: block;
}
label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}
input {
  margin-bottom: 20px;
  font-size: 16px;
  padding: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c4c4c4;
  width: 200px;
}
input:focus {
  outline: none;
  border-color: lightsalmon;
}
.form-content {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 15px;
}

footer {
  background-color: #ffcb91
}

.cont-footer {
  max-width: 900px;
  margin: auto;
}

footer div.cont-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 30px;
  padding-bottom: 15px;
  position: relative
}

footer div.cont-footer img {
  width: 20px;
  margin-right: 5px;
}

footer div.cont-footer img:nth-child(-n+2) {
  width: 26px;
}